* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    font-size: 1em;
    box-sizing: border-box;
}

body {
    position: relative;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-shadow: 0 0 10px gray;
    font-weight: bold;
    color: navy;
}

#cards {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    padding: 20px;
}

#cards.list {
    display: block;
}

#cards.homeCards {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    background-color: green;
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    width:100%;
    white-space: nowrap;
    overflow-x: auto;
}

.list section>img {
    display: none;
}

.list section {
    background-color: white;
    border: none;
}

.list caption {
    margin: 0;
    border: 0;
}

section {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #eee;
    border: 1px solid rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    width: auto;
    max-width: 340px;
    box-shadow: 0 0 30px #444;
    border: 1px solid #111;
    margin-top: 20px;
    margin-bottom: 10px;
}

section caption {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.5em;
    text-shadow: 0 0 10px gray;
    font-weight: bold;
    color: navy;
}

section p {
    font-size: 1.1em;
}

div.hero {
    margin:0;
    padding: 0;
    background-color: none;
    border:0;
    display:block;
    align-items: normal;
}

div.hero img {
    width:100%;
    max-width: none;
    box-shadow: none;
    border:0;
    margin:0;
}

div.local {
    display:flex;
    align-items: center;
    margin:0.75rem;
    padding:0.5rem;
    gap: 5px;
}

div.local section {
    flex: 1;
    height: 200px;
}

div.local section:first-of-type {

}

div.local section h2 {
    margin-bottom:10px;
}



header {
    height: 85px;
    background-color: lightgray;
    position: relative;
}

header img {
    float: left;
    height: 80px;
    width: 85px;
}

#site-name {
    float: left;
    margin-left: 20px;
    padding-top: 30px;
    font-size: 2.5em;
}

nav {
    background-color: lightgray;
    float: right;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-top: 40px;
    padding: 10px;
    padding-right: 20px;
    float: left;
}

nav a {
    color: black;
    padding: 10px;
    font-size: 1.1em;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

.active:hover {
    text-decoration: none;
}

nav a:hover {
    color: navy;
    text-decoration: underline;
    font-weight: bold;
}

main {
    clear: both;
    position: relative;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 30px 0
}

footer .social {
    padding: 20px;
    text-align: center;
}

footer img {
    width: 10%;
    padding: 0 10px;
}

footer a:hover {
    border-bottom: 1px solid gray;
}

.arrange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.arrange>div {
    flex: 1;
    text-align: center;

}

.arrange>div>span {
    float: left;
}

.contact {
    text-indent: 250px;
    padding: 10px 0;
}

.signed {
    text-indent: 50px;
}

.show {
    display: flex;
}

#view {
    text-align: center;
}

#view button {
    padding: 10px 20px;
    margin: 5px;
}

.hero {
    width:100%;
}

.cta {
    position:absolute;
    top:20px;
    right:20px;
    padding:30px;
    background-color: purple;
    color:white;
    font-weight: bold;
    font-size: 1.3em;
}

@media only screen and (max-width: 75em) {
    #site-name {
        font-size: 1.5em;
        padding-top: 45px;
    }
}

@media only screen and (max-width: 55em) {

    .hamburger {
        background-color: #8be;
        position: absolute;
        right: 10px;
        margin-right: 20px;
        margin-top: 20px;
        font-size: 2em;
        width: 50px;
    }

    .hamburger::before {
        content: "\2630";
    }

    .hamburger.show::before {
        content: "\00D7";
    }

    .arrange {
        display: block;
        justify-content: unset;
    }

    .arrange>div {
        width: 100%;
        text-align: left;
    }

    .contact {
        text-indent: 30px;
        text-align: left;
        padding-bottom: 30px;
    }

    .contact span {
        width: 100%;
    }

    .signed {
        text-indent: 30px;
    }

    .signed span {
        width: 100%;
    }

    footer .social {
        padding: 20px;
    }

    footer img {
        width: 10%;
        padding: 30px 10px 0 10px;
    }

    .navigation {
        display: none;
        width: 50%;
        background-color: navy;
    }

    .navigation.show {
        display: block;
        margin-top: 10px;
    }

    .navigation ul {
        padding: 20px;
    }

    .navigation li {
        width: 100%;
        margin: 0 0 10px 0;

    }

    .navigation a {
        padding: 5px 0 20px 10px;
        margin: 0;
        color: white;
    }

    .navigation a:hover {
        text-decoration: underline;
        color: white;
    }
}