h1 {
    display: inline;
    color: white;
    font-size: 24px;
    padding-left: 20px;
    position: relative;
    bottom: 34px;
    top: -120px;
}

@media only screen and (min-width: 550px) {
    h1 {
        font-size: 48px;
    }
}